*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  color: $text-color-normal;
  font-size: $text-size-normal;
  font-family: 'Work Sans', sans-serif;

}

.container {
  max-width: 1170px;
  margin: 0 auto;

}