*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

input,
button {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

img, video {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  color: $text-color-normal;
  font-size: $text-size-normal;
  font-family: Helvetica, sans-serif;
  color: $primary-color;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}