// Text Color
$text-color-light: #fefefe;
$text-color-normal: #98999a;
$text-color-dark: #6a6a6d;
$text-color-icon: #c4c4c4;

// Text Size
$text-size-large: 16px;
$text-size-normal: 14px;
$text-size-small: 12px;

// Color
$background-color-container: #16171b;
$background-color-header: #1e1f24;
$background-color-marketcap: #171a2b;

$primary-color: #005fa1;
$secondary-color: #4c4c4c;
$bold-text : #333333;

// Box Shadow
$box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);

// Max Width
$max-width-tablet: 768px;
$max-width-mobile: 576px;

$header-height : 112.58px;
